body{
    width: 100%;
    margin-left: 0px;
}
.menu{
    background-image: url(./kepek/fokep.jpg);
    color: white;
    background-size: cover;
    height: 450px;
    margin-top: -22px;

}

.contener{
    align-items: flex-end;
    gap: 100px;
    float: right;
    margin-top: 0px;
    color: white;
    
}
.piadina{
    color: white;
}
.elsoteglalap{
    padding-top: 1px;
    padding-bottom: 35px;
    margin-top: -50px;
    background-color: rgb(43, 42, 42);

}
h2{
    border-radius: 1px;
    border-color: black;
    border-style: solid;
    color: white;
    
}
.masodikmenu{
    background-color: rgb(20, 20, 20);
    color: white;
    margin-top: -2px;
    padding-top: 3px;
}
.menugomb{
    text-align: center;
    border: 1px;
}