body{
    width: 100%;
    margin-left: 0px;
    
}
.menu{
    background-image: url(./kepek/fokep.jpg);
    color: white;
    background-size: cover;
    height: 450px;
    margin-top: -22px;

}

.contener{
    align-items: flex-end;
    gap: 100px;
    float: right;
    margin-top: 0px;
    padding-top: 3%;
    padding-right: 3%;
    list-style: none;
    color: white;
  
}
.elsoteglalap{
    background-color: rgb(43, 42, 42);
    padding-top: 1px;
    padding-bottom: 35px;
}
@media screen and (min-width:600px) {
    .piadina{
        color: white;
        margin-top: 50px;
        margin-left: 5em;       /*16% volt*/
        margin-right: 54%;

    }
    .elsoteglalap{
        padding-top: 1px;
        padding-bottom: 35px;
        margin-top: -50px;
        background-color: rgb(43, 42, 42);
    
    
    
    }
    .masodikszoveg{
        padding-right: 18%;
        margin-left: 30em;        /*42% volt*/
        margin-top: -88px;
        color: gray;
        display: flex;
    }
    .foglalas{
        margin-left: 42%;           
        color: white;
    }
    .tortenet{
        color: gray;
        margin-left: 24em;         /*34% volt*/
    }
}
@media screen and (max-width: 600px) {
    .piadina{
        float: right;
    }
    .tortenet{
        float: right;
    }
    .masodikszoveg{
        margin-top: 10%;
    }
}

.masodikmenu{
    background-color: rgb(20, 20, 20);
    color: white;
    margin-top: -2px;
    padding-top: 3px;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 50px;
    padding-top: 10px;
}

.spec{
    background-color: rgb(43, 42, 42);
    padding-top: 5px;
    padding-bottom: 50px;

}
.kep{
    width: 150px;
    height: 150px;
}
.lablec{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 1200px;     
    margin: 0 auto;
    background-color: rgb(20, 20, 20);
    color: white;
    padding-left: 20%;
}
.btnmenu:hover {
    border-color: white;
    color: black;
    background-color: white;
    fill: white;
}
.btnmenu {
    display: grid;
    transition: all 0.2s;

}
@media screen and (max-width: 600px){
.button1{
    display:block;
    margin:0.4em auto;
    }

}    
.container{
    display: flex;
}
.side {
    display: flex;
    flex-direction: column;
}

.cim{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white;
    padding: 5px;
    font-size: 1rem;
    
}

a.button1{
    display:inline-block;
    padding: 15px 75px;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
    display: inline-block;
    }
    a.button1:hover{
    color:#000000;
    background-color:#FFFFFF;
    }

    @media all and (max-width:30em){
    a.button1{
    display:block;
    margin:0.4em auto;
    }
}
@media  screen and (min-width: 800px) {
    .buttons button {
        padding: 15px 75px;
        background-color: transparent;
        border: 1px solid #fff;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        text-decoration: none ;
        color: white; 
    }
     
    .buttons button:hover {
        background-color: #fff;
        color: #000;
    }
    .buttons{
        display: flex;
        justify-content: center;
        gap: 50px;
    }
}
.sztori{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 17%;
    padding-right: 17%;
}

.elsooszlop h2{    
    border: none;
    margin-left: 10%;

}
.masodikoszlop{
    margin-left: -9%;
}
.masodikoszlop h3, .harmadikoszlop h3{      
    margin: 0 0 10px;
}
.masodikoszlop p{
    margin: 5px 0;
}
.masodikoszlop hr{
    border: 0;
    border-top: 1px solid #444;
    margin: 10px 0;
}
.harmadikoszlop p{
    margin-bottom: 20px;
}
.harmadikoszlop a{
    color: #1e99ff;
    text-decoration: underline;

}
.harmadikoszlop a:hover {
    text-decoration: underline;

}
.vegsoszoveg{
    text-align: center;
    color: white;
    padding: 20px 0;
    background-color: rgb(20, 20, 20);
}
.vegsoszoveg a:hover{
    text-decoration: underline;
}
.gallery__item{
    position: relative;
}
.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    position: relative;
}
nav {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
}
 
.menu1 {
    display: flex;
    list-style-type: none;
}
 
.menu1 li {
    margin-right: 20px;
    font-weight: bold;
    color: white;
}  
 
#menu {
    display: none;
}
 
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}
 
.hamburger span {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
}
 

 
@media (max-width: 1000px) {
    .menu1 {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 50px;
      right: 200%;
      width: 100%;
    }
 
    .menu1 li {
      margin: 10px 0;
      text-align: center;
    }
 
    .hamburger {
      display: flex;
    }
 
    #menu:checked + .hamburger + .menu1 {
      display: flex;
    }
}
 
 


/* medium */
/* @media  screen and (max-width: 750px) {
    .buttons{
        float: left;
        float: right;
    }
} */
@media  screen and (max-width: 600px) {
    .masodikszoveg{
        padding: none;
        margin: none;
    }
    .gallery {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(62, 5vw);
        gap: 10px;
    
    }
    .gallery__item--1{
        margin-left: 2%;
        margin-right: 2%;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 10;
    }
    .gallery__item--2{
        margin-left: 2%;
        margin-right: 2%;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 10;
        grid-row-end: 22;
    }
    .gallery__item--3{
        margin-left: 2%;
        margin-right: 2%;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 22;
        grid-row-end: 32; 
    }
    .gallery__item--4{
        margin-left: 2%;
        margin-right: 2%;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 32;
        grid-row-end: 52;
    }
    .gallery__item--5{
        margin-left: 2%;
        margin-right: 2%;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 52;
        grid-row-end: 62;
    }
}
@media  screen and (max-width: 900px) {
    .menugombok{
        display: none;
    }

}

@media screen and (min-width : 600px) {
    .gallery {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(8, 5vw);
        gap: 30px;
    
    }
    .gallery__item--1 {
        margin: 0;
        grid-column-start: 2;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 5;
    }
    .gallery__item--2 {
        margin: 0;
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 5;
        grid-row-end: 9;
    }
    .gallery__item--3 {
        margin: 0;
        grid-column-start: 4;
        grid-column-end: 6;
        grid-row-start: 5;
        grid-row-end: 9;
    }
    .gallery__item--4 {
        margin: 0;
        grid-column-start: 6;
        grid-column-end: 8;
        grid-row-start: 1;
        grid-row-end: 7;
    }
    .gallery__item--5 {
        margin: 0;
        grid-column-start: 6;
        grid-column-end: 8;
        grid-row-start: 7;
        grid-row-end: 9;
    }
}